* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
    background-color: teal;
   
  }
  
  .div-1 {
    line-height: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white; 
    border-bottom: solid green;
    border-bottom-width: 50px;
    float: left;margin-left: 100px;
    height: 400px;
    width: 200px;
    text-align: center;
    background-image: url("https://i.imgur.com/iUpkmhs.png");background-repeat: no-repeat;background-position: center;
    
   
    
   }



